/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Files ---------------------------------------------------------------------*/

@import url(animate.min.css);
@import url(normalize.css);
@import url(icomoon.css);
@import url(css/font-awesome.min.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(swiper.min.css);
@import url(slick.css);
@import url(jquery.fancybox.min.css);
@import url(jquery-ui.css);
@import url(nice-select.css);

/*--------------------------------------------------------------------- skeleton ---------------------------------------------------------------------*/

* {
    box-sizing: border-box !important;
    transition: ease all 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #666666;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.80857;
    font-weight: normal;
    overflow-x: hidden;
}

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
   
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: #212121;
    text-decoration: none!important;
    opacity: 1
}

button:focus {
    outline: none;
}

ul,
li,
ol {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

p {
    margin: 5px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}

a {
   
    text-decoration: none;
    outline: none !important;
}

a,
.btn {
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
}
.call-image{
    height: 30px;
    width: 30px;
}

 :focus {
    outline: 0;
}

.paddind_bottom_0 {
    padding-bottom: 0 !important;
}

.btn-custom {
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}

.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
    border: none !important;
}

.badge {
    font-weight: 500;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.full {
    float: left;
    width: 100%;
}

.layout_padding {
    padding-top: 100px;
    padding-bottom: 0px;
}

.padding_0 {
    padding: 0px;
}


/* header section top start */

.header_section_top{
    width: 100%;
    float: left;
    background-color: #ebebeb;
    height: auto;
    padding: 5px 0px;
}

.welcome_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #2b2b2b;
    margin: 0px;
}



/* header section top end */

/* header section middle start */

.header_section_middle {
    width: 100%;
    float: left;
    background-color: #fefefd;
    height: auto;
    padding: 5px ;

}

.quick_bt {
    width: 200px;
    float: left;
}

.quick_bt a {
    float: right;
    font-size: 16px;
    color: #fefefd;
    text-transform: uppercase;
    padding: 10px 20px;
    background-color: #ff0000;
}

.quick_bt a:hover {
    background-color: #0f3661;
    color: #fefefe;
}

.location_main{
    width: 100%;
    display:flex;
    margin-bottom: 3vh;
    margin-left: 0;
    
}

.location_top{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #000;
   
}

.location_top a{
    color: #000;
}

.location_top a:hover{
    color:green;
}

.padding_15{
    padding: 15px;
}

/* header section middle end */

/* header section start */

.header_section {
    width: 100%;
    float: left;
    background-color:rgb(22, 170, 22);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.header_bg {
    background: #fb6818;
    border-bottom: 1px solid #ffffff;
}

.bg-light {
    background-color: transparent !important;
}

.ml-auto,
.mx-auto {
    margin-left: 0px;
    display: contents;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 20px;
    font-size: 15px;
    color: #fefefd;
    margin: 0px 7px 0px 0px;
    text-transform: uppercase;
    background-color: transparent;
    float: right;
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #fefefd;
    background-color:lightgreen;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color:green;
    background-color: white;
    
}
.wecare{
    margin-right: 55vh;
    font-size: 24px;
    color: white;
    font-weight: 300;
}
.logo{
    display: flex;
    color: white;
    width: 80px;
    height: 60px;
    color: white;
    margin-left: 30px;
}
.logo h3{
    font-weight: bold;
    font-style: italic;
    color: green;
    font-size: 30px;
}

.navbar {
    padding: 0px 0px 0px 15px;
    float: right;
    width: 100%;
    max-width: 100%;
}


/* header section end */


/* banner section start */

.banner_section {
    width: 100%;
    float: left;
    background-image: url(../images/blank-frame.jpg);
    height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 90px 0px 75px 0px;
    position: relative;
    z-index: -2;
   
}

.banner_section:hover{
    background-color: #000;
   
    
}

.banner_section::after {
    content: '';
    position: absolute;
    width: 760px;
    right: initial;
    
    border-radius: 10px;
    height: 500px;
    top: 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: -1;
}

.banner_taital {
    width: 100%;
    text-align: center;
    font-size: 50px;
    color:black;
    font-weight: bold;
    line-height: 70px;
}

.improvement_text {
    width: 100%;
    text-align: center;
    font-size: 25px;
    color: black;
    font-weight: bold;
   
}

.banner_text {
    width: 40%;
    font-size: 16px;
    color: #fefefd;
    padding-top: 10px;
    margin: 0px;
}

.btn_main img{
   border-radius: 40px;
   border-color: gray;
    height: 35vh;
    width: 50%;
    display: flex;
    margin-bottom: 10px;
    margin-left: 24vh;
}



.banner_img {
    width: 100%;
    float: left;
    display: none;
}

#main_slider a.carousel-control-prev {
    left: -120px;
    top: 150px;
}

#main_slider a.carousel-control-next {
    right: -120px;
    top: 150px;
}

#main_slider .carousel-control-next,
#main_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background: orange;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#main_slider .carousel-control-next:focus,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-prev:hover {
    color: #252525;
    background-color: #ffffff;
}
.transbox{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 50%;
   
   border-radius: 10px;
    background-color: rgb(45, 45, 45, 0.5);
    margin: 0 auto;
}


/* banner section end */


/* about_section start */

.about_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
    background-size: 100%;
}

.about_taital_main {
    width: 90%;
    float: left;
   
}

.about_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #272726;
    font-weight: bold;
    margin-left: 30px;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #272726;
    margin: 0px;
    padding-top: 5px;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    line-height: 27px;
    margin-left: 30px;
}

.read_bt {
    width: 175px;
    float: left;
    padding-top: 40px;
}

.read_bt a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 12px 0px;
    text-align: center;
    background-color: #ff0000;
}

.read_bt a:hover {
    color: #ffffff;
    background-color: #0f3661;
}

.about_img {
    width: 100%;
    float: left;
    
}
.about-image{
    border-radius: 10px;
    margin-left: 20px;
}
.about-image1{
    border-radius: 10px;
   
    margin-bottom: 30px;
}

/* about section end */


/* services section start */

.services_section {
    width: 100%;
    float: left;
    padding-top: 90px;
    padding-bottom: 20px;
}

.services_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #2b2b2b;
    font-weight: bold;
    text-align: center;
}

.services_section_2 {
    width: 80%;
    float: left;
    margin-left: 15vh;
}

.services_box{
    width: 100%;
    border: 1px solid #b7b7b7;
    height: 40vh;
    padding: 20px;
    margin-top: 30px;
    background-color:white;
    border-radius: 10px;
    box-shadow:3px 3px #464747;
}

.services_box:hover{
    border: 1px solid #b7b7b7;
    color: white;
    background-color:tan;
 
}

.services_box:hover .corportae_text{
    color:brown;
    font-weight: bold;
    
    
}

.corportae_text.active{
    color: brown;
    text-align: center;
    
}

.corportae_text{
    width: 100%;
    font-size: 24px;
    color: #2b2b2b;
    font-weight: bold;
    text-align: center;
}

.services_text {
    width: 100%;
    font-size: 17px;
    color: #373636;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}

.read_bt_1 {
    width: 175px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    display: flex;
}

.read_bt_1 a {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    padding: 12px 0px;
    text-align: center;
    background-color: orange;
}

.read_bt_1 a:hover {
    color: #ffffff;
    background-color: #0f3661;
}

/* services section end */

/* projects section start */

.projects_section {
    width: 100%;
    float: left;
    padding-bottom: 90px;
    background-color:lightcyan;
    border-radius: 10px;
    border-color: #000;
    height: auto;
    padding: 50px 0px 90px 0px;
}

.projects_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #373636;
    font-weight: bold;
}

.projects_section_2 {
    padding: 30px 0px;
    width: 85%;
    float: right;
}

.pets_section_2 {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.image {
    display: block;
    width: 100%;
    height: 200px;
    
}


.pets_section_2 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgb(45, 45, 45, 0.5);
    margin: 0 auto;
}

.container_main {
    
    width: 100%;
}

.container_main:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 80%;
}

.some_text {
    width: 170px;
    margin: 0 auto;
    text-align: center;
}

.some_text a{
    text-align: center;
    font-size: 18px;
    color: #fefefd;
    text-transform: uppercase;
    font-weight: bold;
}

.some_text a:hover{
    color: #fefefd;
    text-transform: uppercase;
    font-weight: bold;
}

.padding_right0 {
    padding-right: 0px;
}

#custom_slider a.carousel-control-next {
    right: initial;
    left: -110px;
    top: 50px;
}

#custom_slider a.carousel-control-prev {
    left: -110px;
    right: initial;
    top: 110px;
    color: #363636;
    background-color: #ffffff;
}

#custom_slider .carousel-control-next,
#custom_slider .carousel-control-prev {
    width: 55px;
    height: 55px;
    background-color: #ff0000;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}

#custom_slider .carousel-control-next:focus,
#custom_slider .carousel-control-next:hover,
#custom_slider .carousel-control-prev:focus,
#custom_slider .carousel-control-prev:hover {
    color: #363636;
    background-color: #ffffff;
}


/* portfolio section end */



/* customers section start */

.customer_section {
    width: 100%;
    float: left;
}

.customer_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #464747;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
}

.customer_section_2 {
    width: 100%;
    float: left;
   padding-top: 10px;
}

.box_main {
    width: 100%;
    float: left;
}


.customer_text {
    width: 100%;
    font-size: 16px;
    color: #464747;
    margin: 0 auto;
    text-align: center;
}

.customer_main {
    width: 30%;
    display: flex;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;
}

.customer_img {
    margin: 0px 5px;
    align-items: center;
    padding-left: 100px;
}

.customer_name {
    width: 100%;
    font-size: 26px;
    font-weight: bold;
    color: #464747;
    text-align: center;
}
.dummy_text {
    width: 100%;
    font-size: 16px;
    color: #464747;
    text-align: center;
    margin: 0px;
}

.quick_icon{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
}

/* customers section end */

/* contact section start */

.container1{
    background-color:rgb(228, 226, 226);
    width: 50%;
    height: 75vh;
    margin-top: 10vh;
    margin-left: 50vh;
    margin-bottom: 20px;
    border-radius: 20px;
}
.container1:hover{
    background-color: #222222;
    
}
.contact_taital{
    text-align: center;
    color: black;
    padding-top: 30px;
}
.contact_taital:hover{
    color: white;
}
.mail_text,.massage-bt{
    width: 70%;
    padding: 20px,20px;
    margin: 10px;
    margin-left: 15vh;
    
    
}
.cont{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 40vh;
    border-radius: 5px;
    background-color:gray;
    color: white;
}
.cont:hover{
    background-color: green;
    color: white;
}


/* contact section end */

/* news section start */

.news_section {
    width: 100%;
    float: left;
    padding: 90px 0px;
}

.news_taital {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #464747;
    font-weight: bold;
    text-align: center;
}

.news_section_2 {
    width: 100%;
    float: left;
    padding-top: 20px;
}

.seller_taital {
    width: 100%;
    float: left;
    font-size: 24px;
    color: #363636;
    font-weight: bold;
    padding-top: 10px;
}

.passages_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #363636;
    margin: 0px;
}

.news_img {
    width: 100%;
    float: left;
}

/* news section end */

/* footer section start */

.footer_section {
    width: 100%;
    float: left;
    background-color: #363636;
    height: auto;
    padding: 60px 0px;
}

.footer_logo {
    width: 100%;
    float: left;
}

.lorem_text {
    width: 90%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px 0px 0px 0px;
}
.footer_text{
  
    color: white;
    font-size: 20px;
    margin-left: 8vh;
}
.footer_text1{
    margin-left: 15vh;
    color: white;
    font-size: 20px;
}

.footer_text1_ul{
    margin-left: 15vh;
    float: left;
    
}
.footer_text1_ul li a{
    color: white;
}
.footer_text1_ul li a:hover{
    color: green;
}
.footer_text2{
    margin-left: 19vh;
    font-size: 20px;
    color: white;
}
.footer_address{
    margin-left: 19vh;
    color: white;
}
.footer_text_ul{
    margin-left: 10vh;
}
.footer_text_ul li a{
color: white;
}
.footer_text_ul li a:hover{
    color: green;
}
.footer-button1{
    margin-left: 15vh;
    align-items: center;
    background-color: #111111;
    color: white;
    padding: 5px;
    width: 30%;
   
}
.footer-button1:hover{
    background-color: green;
}
.footer_text_ul li{
    color: white;
    font-weight: 300;
}
.col-md-5{
width: 100px;
align-items:start;
}
.update_mail{
    margin-left: 15vh;
    margin-top: 3px;
    width: 70%;
    height: 100px;
}
.send{
    width: 160px;
    margin: auto;
    text-align: center;
    margin-left: 18vh;
    background-color: #111111;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.send:hover{
    background-color: green;
    color: white;
}

textarea#comment.update_mail::placeholder {
    color: #363636;
}

.subscribe_bt {
    width: 170px;
    float: left;
    padding-top: 30px;
}




.social_icon {
    width: 100%;
    float: left;
    margin-top: 20px;
}

.social_icon ul {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.social_icon li {
    float: left;
}

.social_icon li a {
    float: left;
    padding: 3px 0px;
    background-color: #fefefd;
    color: #363636;
    border-radius: 100%;
    font-size: 20px;
    margin-right: 5px;
    width: 43px;
    text-align: center;
    margin-top: 10px;
}

.social_icon li a:hover {
    background-color: #0056b3;
    color: #ffffff;
}


/* footer section end */


/* copyright section start */

.copyright_section {
    width: 100%;
    float: left;
    background-color: #ffffff;
    height: auto;
}

.copyright_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #252525;
    text-align: center;
    margin-left: 0px;
}

.copyright_text a {
    color: #252525;
}

.copyright_text a:hover {
    color: #ff0000;
}


/* copyright section end */

.margin_top90 {
    margin-top: 90px;
}